*{
    top: 0;
    font-size: 14px;
}
.form-box{
    margin: 20% auto;
    width: 96%;
}
.btn-box {
    width: 220px;
    font-size: 10px;
    margin: 30px auto;
}
#btn1{
    width: 108px ;
}
.toggle-btn{
    padding: 10px 30px;
}
.input-grp {
    margin-left: 2%;
}
.input-field{
    margin: 5px 0px;
}
.submit-btn {
    width: 65%;
    margin-left: 4% ;
    margin-right: 5%;
}

